@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mb-4">
    <div class="col-md-8 col-12">
        <a href="/category/create" class="text-success fs-4">Create category</a>
        
        <div class="card shadow-sm mt-3 mb-4 p-4">
            <h1 class="text-center mb-3">@ViewData["Title"]</h1>
            <div class="card-table table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.Title</td>
                            <td>@c.TransactionType.Title</td>
                            <td>
                                <a href="/category/edit/@c.Id" class="text-warning me-3">Edit</a>
                                <a href="/category/delete/@c.Id" class="text-danger">Remove</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>