@model IEnumerable<Bill>

@{
    ViewData["Title"] = "Bills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center mb-4">
    <div class="col-md-8 col-12">
        <a href="/bill/create" class="text-success fs-4">Create bill</a>
        
        <div class="card shadow-sm mt-3 mb-4 p-4">
            <h1 class="text-center mb-3">@ViewData["Title"]</h1>

            <div class="card-table table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Type</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@c.Title</td>
                            <td>@Math.Round(c.Amount, 2)</td>
                            <td>@c.Type.Title</td>
                            <td>
                                <a href="/bill/edit/@c.Id" class="text-warning me-3">Edit</a>
                                <a href="/bill/delete/@c.Id" class="text-danger">Remove</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>