@model IEnumerable<Debt>

@{
    ViewData["Title"] = "Debts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/debt/create" class="text-success float-end">Create debt</a>

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="card shadow-sm mb-4">
    <div class="card-table table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Note</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@Math.Round(c.Amount, 2)</td>
                    <td>@c.Note</td>
                    <td class="text-center">
                        <a href="/debt/edit/@c.Id" class="text-warning">Edit</a>
                        <a href="/debt/delete/@c.Id" class="text-danger">Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>